.flexbox-container{
    display: flex;
    padding: 3%;
    flex-direction:row;
    /*border-style:dashed;*/
    height: 200px;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    
    
}
.flexbox-item{
    display: flex;
    text-align: right;
    
}

button{
    width: 120px; 
    height: 30px;
}
img{
width: 70%;
height: 80%;
}
.flexbox-header{
    height: 40%;
    border-style: solid;
    border-bottom: 5px;
    background-color: black;

}